

<main>
<h1 class= "new"><%= link_to "名言を叫べ！！", new_post_path %></h1>
<ul>
	<% @posts.each do |post| %>
	<li>
        <%= link_to post.meigen, post_path(post) %>
        <%= link_to "編集", edit_post_path(post) %>
        <%= link_to "[X]", post_path(post), method: :delete, data: {confirm: "削除しますか?"}%>
    </li>
	<% end %>
</ul>
</main>

<footer>
名言集
<h4>@ 2020 kotoba corporation AllRightsReserved </h4>

</footer>

